doctype html
html(lang='zh-Hant-TW')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 軟體開發| 創科資訊
    meta(name='description', content='軟體開發技術顧問與培訓課程服務')
    meta(name='og:url', content='http://trunk.studio/')
    meta(name='og:title', content='軟體開發與培訓服務| 創科資訊')
    meta(name='og:image', content='http://trunk.studio/images/photo-1.jpg')
    meta(name='og:description', content='創科資訊股份有限公司成立於 2015 年，由一群熱愛軟體設計的青年組成創新研發團隊，是一家年輕充滿活力與豐富創新創意的新創軟體公司。我們擁有專業跨領域的研發團隊以及充滿創造力的設計團隊，不僅以專業技術為導向，完成高品質的軟體專案要求，更兼具創意導向，提供創新多元的數位內容服務。')
    meta(name='fb:app_id', content='1683846725181307')
    link(rel="icon", type="image/png", href="images/favicon.png")
    link(rel="icon", type="image/x-icon", href="images/favicon.ico")
    link(href='assets/css/template.css', rel='stylesheet')
    link(href='assets/css/custom.css', rel='stylesheet')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
  body
    #fb-root
    script(type="text/javascript").
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.5&appId=1683846725181307";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    #page
      header#header.site-header
        nav#topbar.site-topbar.visible-lg.visible-md
          .container
            .row
              .col-sm-6
                i.fa.fa-phone-square
                span.phone-number TEL
                  a(href='tel:+886422019020') (04)2201-9020
              .social-links.col-sm-6
                a(href='https://www.youtube.com/channel/UCYPmMEy6bvxThP5Mvb2nczA', target='_blank')
                  i.fa.fa-youtube
                a(href='https://www.linkedin.com/company/trunk-studio/', target='_blank')
                  i.fa.fa-linkedin-square
                a(href='https://www.facebook.com/trunk.studio.tw', target='_blank')
                  i.fa.fa-facebook
                //a(href='#')
                //  i.fa.fa-twitter
                a(href='https://plus.google.com/b/100403838035146470024/', target='_blank')
                  i.fa.fa-google-plus
                //a(href='#')
                //  i.fa.fa-pinterest

        nav#navbar.site-navbar.navbar.navbar-static-top(role='navigation')
          .container
            if message != ''
              .row.col-sm-12
                .alert.alert-success(role='alert')
                  p= message
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
                span.sr-only Toggle navigation
                i.fa.fa-bars
              h1.navbar-brand
                img(src='images/logo.png', height=40)
              fa.fa-bars-left
            #navbar-collapse-1.collapse.navbar-collapse
              ul#navigation.nav.navbar-nav.navbar-right
                li.active
                  a.current(href='#header') 首頁
                li
                  a(href='#features') 服務項目
                li
                  a(href='#solutions') 解決方案
                li
                  a(href='#casestudy') 案例分享
                li
                  a(href='#blog') 課程活動
                li
                  a(href='#clients') 合作夥伴
                li
                  a(href='#contact') 聯絡方式
      main#main.site-main
        section#carousel-1.carousel.slide.section-slide(data-ride='carousel')
          .carousel-inner
            .item.active(style='background: url(images/photo-1.jpg) no-repeat center; background-size: cover;')
              .container
                img(src='images/typo-1.png', alt='', style='max-width:85%')
            .item(style='background: url(images/photo-2.jpg) no-repeat center; background-size: cover;')
              .container
                img(src='images/typo-2.png', alt='', style='max-width:85%')
          a.left.carousel-control(href='#carousel-1', data-slide='prev')
            span.fa.fa-chevron-left
          a.right.carousel-control(href='#carousel-1', data-slide='next')
            span.fa.fa-chevron-right

        section#intro.section.section-hilite.section-cta
          .container
            
            h2.section-title
              span Developers at Work
            hr
            h3.text-center
              span 軟體人才培育是創科資訊的使命
            hr
            .compact.readable
              p 成立於 2015 年的創科資訊團隊，創辦人 Kyle 與 Spooky 是資深軟體架構師，擁有逾十年的軟體專案開發與培訓經驗，選擇在中台灣（台中）成立第一個以培育軟體人才為主旨的工作空間，提供就業、實習、專案實戰與學習交流的場域，並且舉辦各種在地技術社群聚會與研習活動，也吸引不少優秀、卓越的年輕開發者加入成為夥伴。創科訊致力於創新開發者理想的工作模式，發揮軟體人才最大的價值，並為優質企業帶來革新的研發能量。
            hr
            h3.text-center
              span 軟體工藝的革新
            hr
            .compact.readable
              p 我們培養具備全端開發能力的「軟體工藝師（Software Craftsman）」，讓開發者用更寬廣的視野看待軟體系統發展，提倡開發者掌握自主權、磨練技藝並明確目標，以更加務實和高效的方法滿足客戶需求，帶動整個開發團隊蓬勃向上。
            hr
            .text-center
                .fb-like(data-href="https://www.facebook.com/trunk.studio.tw/", data-layout="button_count", data-action="like", data-show-faces="false", data-share="true")
            hr
            .row.hidden-xs
              .col-md-3.col-sm-6
                img.img-responsive.img-thumbnail(src='images/office1.jpg', alt='創科資訊工作空間')
              .col-md-3.col-sm-6
                img.img-responsive.img-thumbnail(src='images/office2.jpg', alt='創科資訊工作空間')
              .col-md-3.col-sm-6.hidden-sm.hidden-xs
                img.img-responsive.img-thumbnail(src='images/office3.jpg', alt='創科資訊工作空間')
              .col-md-3.col-sm-6.hidden-sm.hidden-xs
                img.img-responsive.img-thumbnail(src='images/office4.jpg', alt='創科資訊工作空間')

            
            .compact
              p 創科資訊股份有限公司成立於 2015 年，由一群熱愛軟體設計的青年組成創新研發團隊，是一家年輕充滿活力與豐富創新創意的新創軟體公司。我們擁有專業跨領域的研發團隊以及充滿創造力的設計團隊，不僅以專業技術為導向，完成高品質的軟體專案要求，更兼具創意導向，提供創新多元的數位內容服務。
              p.hidden-xs.hidden-sm 我們有多位資深軟體架構師、技術顧問與程式設計師，專注於 Web / App 相關的開發技術，並且不斷跟隨著時代演進更新技術，擅長的程式語言以 Java 與 JavaScript 為主，包括 Node.js 與 Spring Boot 等主流技術均能充分掌握，也有成熟的 ORM 實作搭配 MySQL 或 SQL Server 資料庫優化的實作能力，以及在 Linux 系統與 AWS 雲端平台部署應用系統的多年經驗。
              p.hidden-xs.hidden-sm 我們協助客戶評估決策更好的軟體架構與規劃設計，並採用更有效率的方式完成開發實作。我們熟悉並貫徹實踐敏捷軟體開發流程，由經驗豐富的資深架構師與 Scrum Master 帶領，對軟體專案秉持專業負責的精神，加倍重視軟體品質與資訊安全，從自動化建置與測試到實踐測試驅動開發，搭配 Jenkins 與 Docker 提供持續整合與交付，也包括程式碼品質檢核或系統弱點測試。我們深知這些過去容易被忽略的細節，正是影響軟體品質重要的環節，我們相信只有把事情真正做對、做好，才能交付給客戶值得信賴的軟體。
              //- p We are a custom software development company that provides Java and JavaScript software development and consultations using agile methodology and best practices. We believe that software should respond to the needs of business, and we know that business needs are constantly changing. We change with You – we are Agile.



            .main-action.row
              .col-md-3.col-md-offset-3.col-sm-4.col-sm-offset-2
                a.smooth-scroll.btn.btn-lg.btn-block.btn-danger(href='#solutions')  解決方案

              .col-md-3.col-sm-4
                a.smooth-scroll.btn.btn-lg.btn-block.btn-default(href='#testimonials') 案例分享

        section#features.section.section-center.section-features
          .container
            h2.section-title
              span 服務項目
            .row
              .col-sm-3.col-xs-6
                .icon-wrap
                  img(src='images/icon-project.png', alt='')
                h3 軟體開發
                p.text-left.hidden-xs 由我們專業的軟體研發團隊，協助您完成專案與產品研發。我們擅長的領域包括：數位內容平台、行動電商與物聯網應用，從設計規劃到程式開發都有多年經驗。
              .col-sm-3.col-xs-6
                .icon-wrap
                  img(src='images/icon-system.png', alt='')
                h3 系統整合
                p.text-left.hidden-xs 以創新營運模式提供多元服務之平台，快速整合各種資源，不僅滿足使用者之多樣資訊需求，加速帶動各領域之應用服務發展，共同掌握商機。
              .col-sm-3.col-xs-6
                .icon-wrap
                  img(src='images/icon-training.png', alt='')
                h3 企業培訓
                p.text-left.hidden-xs 我們提供自行研發的 AgileWorks 線上教材與平台，全面提升學習效率，課程涵蓋實踐敏捷開發流程所需要具備的知識觀念，以及熱門開發工具的實機操作。
              .col-sm-3.col-xs-6
                .icon-wrap
                  img(src='images/icon-course.png', alt='')
                h3 校園研習
                p.text-left.hidden-xs 我們有豐富的業師經驗，並與多所知名大專院校合作，提供基礎程式語言、網頁與手機程式設計教學輔導課程，提供業界最新實務經驗，並輔導學生取得專業認證。
        section#solutions.section.section-portfolio
          .container
            h2.section-title
              span 解決方案
            .row
              .col-sm-4
                img.img-responsive(src='images/aws-consulting-partner.png', alt='')
              .col-sm-8
                p.text-left 創科資訊是 Amazon Web Services 正式認可的 Consulting Partner，我們擁有多年的雲端部署經驗，可以協助客戶選擇適合需求且節約預算的 AWS 服務組合，例如 EC2、S3、ElastiCache、RDS、Elastic BeansTalk、Route53⋯等，包含自動化部署、高可用性、備援機制與水平擴展，讓您的軟體架構充分發揮 AWS 雲端運算帶來的效益。
            hr
            .row
              .col-sm-4
                img(src='images/nodejs.png', alt='')
              .col-sm-8
                p.text-left 創科資訊團隊多年的 Node.js 實作經驗，擁有成熟可靠的技術基礎當後盾，我們充分利用 Node.js 帶來的優勢，開發出高效能、穩定可靠且部署成本相對節省的 Web 系統。我們依照專案目的選擇 Sails 或 Koa 作為開發框架，可以搭配 WebSocket 實作更即時的新一代服務，並使用 Sequelize ORM 開發相容不同資料庫平台的後端程式，以及透過 RESTful Web Services 串接整合不同開發平台的服務元件。
            hr
            .row
              .col-sm-4
                img(src='images/react-native.jpeg', alt='')
              .col-sm-8
                p.text-left React Native 結合了 Web 應用和 Native 應用的優勢，可以使用 JavaScript 來開發 iOS 和 Android 原生應用。在 JavaScript 中用 React 抽像操作系統原生的 UI 組件，代替 DOM 元素來渲染等。使你能夠使用基於 JavaScript 和 React 一致的開發體驗在本地平台上構建世界一流的應用程序體驗。
            hr
            .row
              .col-sm-4
                img(src='images/spring-io-logo.png', alt='')
              .col-sm-8
                p.text-left 我們擁有多年的 Java EE 企業級應用開發經驗，近期多採用 Spring Boot 開發後端 API Server，或是以 Grails Framework 實現類似 RoR 思維的 MVC 網站平台開發，也利用 Gradle / Geb 等新一代自動化建置與測試工具。我們也具備整合 Java 與 Node.js / PHP / .NET 等多種開發平台的能力，具備開發中大型企業專案的整合能力。
            hr
            .row
              .col-sm-4
                img(src='images/raspberrypi-docker-nodejs.png', alt='')
              .col-sm-8
                p.text-left 迎接 IoT 物聯網應用時代的來臨，我們擁有在 Raspberry Pi 裝置架構 Node.js 應用程式的成功經驗，以及在樹莓派使用 Docker 進行部署。我們的專案利用 GPIO 與硬體端整合，並提供 RESTful API Server 整合 Mobile Web 前端與 Native App 操作介面。
            hr
            .row
              .col-sm-4
                img(src='images/jenkins.png', alt='')
              .col-sm-8
                p.text-left 創科資訊的研發團隊採用 Jenkins 為每個軟體專案導入持續整合，從自動化建置測試到 Production Server 部署，我們的資深架構師擁有多年 Jenkins 使用經驗，也協助過許多企業開發團隊導入 Jenkins 持續整合。就像《Iron Man》電影中的 Jarvis，有 Jenkins 這位全年無休的專案管家，讓專案團隊節省許多時間，並且為軟體品質、專案的健康程度嚴格把關，在必要的時候主動將異常事件通知團隊成員，確保敏捷開發的精神在每一天落實，並且讓專案建置流程盡可能自動化且透明。
            hr
            .row
              .col-sm-4
                img(src='images/docker.png', alt='')
              .col-sm-8
                p.text-left Docker 是近年快速竄紅的虛擬化容器技術，它的用途比傳統的 Virtual Machine 更為廣泛，不論是搭配 Jenkins 用於持續整合的測試環境，或是用來建構專案所需的開發環境，甚至用在 Production Server 的雲端部署，都因為 Docker 的普及而帶來許多新思維，以及更多元化的應用方式。創科資訊作為一個技術不斷升級的研發團隊，無論是在持續整合流程或雲端伺服器的部署，都正式將 Docker 作為基礎開發環境的一部份，我們確保軟體能夠在 Docker 容器中正確運行，並且在 CI 與 DevOps 階段採用一致且良好的執行環境，如此一來更能快速測試且處理問題，進而確保軟體品質與提高部署的正確性。
            hr
      section#casestudy.section.section-casestudy
        .container
          h2.section-title
            span 精選案例分享
          .row
            .col-sm-6(style='padding:1%')
              img.img-thumbnail(src='images/case-1.jpg')
            .col-sm-6(style='padding:1%')
              img.img-thumbnail(src='images/case-2.jpg')
            .col-sm-6(style='padding:1%')
              img.img-thumbnail(src='images/case-3.jpg')
            .col-sm-6(style='padding:1%')
              img.img-thumbnail(src='images/case-4.jpg')
          hr

        // Project Modal
        #project-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-modal-label', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;

                h4#project-modal-label.modal-title Project title

              .modal-body
                article.single-project
                  .project-thumbnail
                    #project-thumbnail-carousel-1.carousel.slide(data-ride='carousel')
                      .carousel-inner
                        .item.active
                          img(src='http://placehold.it/800x600')

                        .item
                          img(src='http://placehold.it/800x600')

                        .item
                          img(src='http://placehold.it/800x600')

                      ol.carousel-indicators
                        li.active(data-target='#project-thumbnail-carousel-1', data-slide-to='0')

                        li(data-target='#project-thumbnail-carousel-1', data-slide-to='1')

                        li(data-target='#project-thumbnail-carousel-1', data-slide-to='2')

                      a.left.carousel-control(href='#project-thumbnail-carousel-1', data-slide='prev')
                        span.fa.fa-chevron-left

                      a.right.carousel-control(href='#project-thumbnail-carousel-1', data-slide='next')
                        span.fa.fa-chevron-right

                  .row
                    .col-md-4
                      button.btn.btn-block.btn-primary(type='button') Launch Project

                      ul.list-unstyled.project-info
                        li
                          strong Type

                          span.pull-right Web Design

                        li
                          strong Client

                          span.pull-right Google

                        li
                          strong Year

                          span.pull-right 2015

                    .col-md-8
                      p
                         Suspendisse varius nisl nunc. Aenean in dictum nibh. Nullam congue facilisis purus porta ullamcorper. Aenean in consequat sapien. Cras orci augue, ultricies at luctus congue, dapibus sed magna. Vivamus consequat commodo pharetra. Maecenas sed tincidunt mi, quis accumsan nisi. Praesent ac porttitor massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur in bibendum tellus, vitae imperdiet mauris.
        section#team.section.section-center.section-hilite.section-team
          .container
            h2.section-title
              span 研發團隊成員
            .row
              .col-lg-4.hidden-md.hidden-sm.hidden-xs
                img.img-thumbnail(src='images/our-team-cover.jpg')
              .col-lg-8.col-md-12
                .row
                  .col-md-2.col-sm-4.col-xs-4
                    a(href="https://tw.linkedin.com/in/hsieh-tsung-ying-0957375b ", target="_blank")
                      img.img-circle(src='images/portrait-smlsun.jpg')
                      h5 架構師 - 謝宗穎<br/>（Spooky）
                  .col-md-2.col-sm-4.col-xs-4
                    a(href="https://about.me/lyhcode", target="_blank")
                      img.img-circle(src='images/portrait-lyhcode.jpg')
                      h5 架構師 - 林彥宏<br/>（Kyle）
                  .col-md-2.col-sm-4.col-xs-4
                    img.img-circle(src='images/portrait-caesar.jpg')
                    h5 顧問 - 戚務漢<br/>（Caesar）
                  .col-md-2.col-sm-4.col-xs-4
                    img.img-circle(src='images/portrait-kalvar.jpg')
                    h5 顧問 - 林國銘<br/>（Kalvar）  
                  .col-md-2.col-sm-4.col-xs-4
                    a(href="https://www.linkedin.com/in/frankie-chien-796b6182", target="_blank")
                      img.img-circle(src='images/portrait-Frankie.jpg')
                      h5 顧問 - 錢逢鳴<br/>（Frankie）
                  .col-md-2.col-sm-4.col-xs-4
                    a(href="https://about.me/dmoon.t", target="_blank")
                      img.img-circle(src='images/portrait-dmoon.jpg')
                      h5 顧問 - 黃駿朋<br/>（DMoon）
                  .col-md-2.col-sm-4.col-xs-4
                    a(href="http://rabbittin.wix.com/bonnie-tseng", target="_blank")
                      img.img-circle(src='images/portrait-Bonnie.png')
                      h5 顧問 - 曾莉婷<br/>（Bonnie）
                  .col-md-2.col-sm-4.col-xs-4
                    img.img-circle(src='images/portrait-Ryan.png')
                    h5 顧問 - Ryanne Sugue<br/>（Ryan）
                  .col-md-2.col-sm-4.col-xs-4
                    a(href="https://about.me/kent.chen", target="_blank")
                      img.img-circle(src='images/portrait-kueiyen.jpg')
                      h5 工程師 - 陳奎研<br/>（Kent）
                  .col-md-2.col-sm-4.col-xs-4
                    img.img-circle(src='images/portrait-fuyaode.jpg')
                    h5 工程師 - 傅耀德<br/>（Dan）
                  .col-md-2.col-sm-4.col-xs-4
                    img.img-circle(src='images/portrait-william.jpg')
                    h5 工程師 - 鄭煒霖<br/>（William）
                  .col-md-2.col-sm-4.col-xs-4
                    a(href="https://about.me/b2765270", target="_blank")
                      img.img-circle(src='images/portrait-yin.png')
                      h5 工程師 - 黃胤翔<br/>（Yin）
                .row
                  .col-md-2.col-sm-4.col-xs-4
                    a(href="https://github.com/alincode", target="_blank")
                      img.img-circle(src='images/portrait-alincode.jpg')
                      h5 顧問 - 劉艾霖<br/>（Alin）
                  .col-md-2.col-sm-4.col-xs-4
                    img.img-circle(src='images/portrait-nana.jpg')
                    h5 設計師 - 張珮茹<br/>（Nana）
                  .col-md-2.col-sm-4.col-xs-4
                    img.img-circle(src='images/hiring.png')
                    h5 Join us!
        section#blog.section.section-blog
          .container
            h2.section-title
              span 課程活動
            .row
              .col-md-6
                article.hentry.post
                  .row
                    .entry-thumbnail.col-lg-4.col-md-5.col-sm-4.col-xs-3
                      a.hover-effect(href='#')
                        img(src='images/docker-square.png', alt='')

                        span.overlay
                          i.fa.fa-plus

                    .col-lg-8.col-md-7.col-sm-8.col-xs-9
                      header.entry-header
                        h2.entry-title
                          a(href='#') 第一次使用 Docker 就上手

                        .entry-meta
                           講師：
                          a(href='#') 謝宗穎

                          span.label.label-danger 免費

                          span.label.label-info 台中場

                      .entry-content
                        p
                        p Docker 是一個開源專案，原始碼放在github上面做維護，支援多平台，從筆電到公、私有雲上能進行快速部署輕量、獨立的作業環境。Docker 使用 Linux 核心中的功能，Namespace 及 Control Groups (cgroups) 等，來達到建置獨立的環境及控制 CPU 、Memory 、網路等資源。
                        a.more(href='#', target='_blank')
                          span.btn.btn-default 尚未開放

              .col-md-6
                article.hentry.post
                  .row
                    .entry-thumbnail.col-lg-4.col-md-5.col-sm-4.col-xs-3
                      a.hover-effect(href='#')
                        img(src='images/jenkins-square.png', alt='')

                        span.overlay
                          i.fa.fa-plus

                    .col-lg-8.col-md-7.col-sm-8.col-xs-9
                      header.entry-header
                        h2.entry-title
                          a(href='#') Jenkins CI 從入門到實戰
                        .entry-meta
                           By
                          a(href='#', target="_blank") 講師：謝宗穎

                      .entry-content
                        p 已經瞭解持續整合的重要性，卻不知道如何實際應用嗎？
                        p 持續整合是讓系統開發在快速變動的需求下，仍能維持高軟體品質的重要關鍵，而 Jenkins 便是實現 CI 的首選工具，透過此自動化的軟體建置工具讓企業能快速驗證軟體版本演進的缺失，更能方便地整合現有各種原始碼管理方案以及各種軟體建置方法。
                        a.more(href='#')
                          span.btn.btn-default 尚未開放

            .row
              .col-md-6
                article.hentry.post
                  .row
                    .entry-thumbnail.col-lg-4.col-md-5.col-sm-4.col-xs-3
                      a.hover-effect(href='#')
                        img(src='images/swift-square.png', alt='')
                          
                        span.overlay
                          i.fa.fa-plus
                            
                    .col-lg-8.col-md-7.col-sm-8.col-xs-9
                      header.entry-header
                        h2.entry-title
                          a(href='http://firstiosapp.strikingly.com/') 第一次手做 iOS App
                        .entry-meta
                           By
                          a(href='http://firstiosapp.strikingly.com/', target="_blank") 講師：彼得潘
                          
                      .entry-content
                        p 每個人都有著創作App的天份，是時候將它開啟了! 屬於你們的手做iOS App課程，教你親手打造自己喜歡想用的App(比方心愛寵物的App，記錄甜蜜戀情的App)，安裝在自己或家人朋友的iPhone上，隨時打開享用。
                        a.more(href='#')
                          span.btn.btn-default 活動已結束
                          
              .col-md-6
                article.hentry.post
                  .row
                    .entry-thumbnail.col-lg-4.col-md-5.col-sm-4.col-xs-3
                      a.hover-effect(href='#')
                        img(src='images/raspberry-pi-square.png', alt='')

                        span.overlay
                          i.fa.fa-plus

                    .col-lg-8.col-md-7.col-sm-8.col-xs-9
                      header.entry-header
                        h2.entry-title
                          a(href='#') Raspberry Pi 樹莓派應用開發基礎
                        .entry-meta
                            By
                          a(href='#', target="_blank") 講師：創科資訊團隊

                      .entry-content
                        p 想玩樹莓派但是不知從何開始？想用開源硬體做出好玩的東西、玩具？想踏入智慧硬體、物聯網的領域？這個實作課為你而開。
                        a.more(href='mailto:kyle@trunk-studio.com')
                          span.btn.btn-default 接受預約
            .row
              .col-md-6
                article.hentry.post
                  .row
                    .entry-thumbnail.col-lg-4.col-md-5.col-sm-4.col-xs-3
                      a.hover-effect(href='#')
                        img(src='images/react-square.png', alt='')
                                        
                        span.overlay
                          i.fa.fa-plus
                                          
                    .col-lg-8.col-md-7.col-sm-8.col-xs-9
                      header.entry-header
                        h2.entry-title
                          a(href='#') React JS 入門實作基礎培訓
                        .entry-meta
                            By
                          a(href='#', target="_blank") 講師：創科資訊團隊
                                        
                      .entry-content
                        p React 是當前矽谷最受歡迎的 Single Page App 開發技術，它一舉解決數十年來傳統 MVC 開發概念的迷思，不但能降低大型網頁程式的複雜度與大幅改善頁面運行速度，更能快速提升團隊開發效率，是公認最友善、易學又威力強大的開發工具。
                        p 本課程特別針對完全無 React 基礎的初學者所設計，以深入淺出的方式教授正確觀念與開發手法，讓初心者一次就學會並能立即用於實戰！
                        a.more(href='mailto:kyle@trunk-studio.com')
                          span.btn.btn-default 接受預約
                            
              .col-md-6
                article.hentry.post
                  .row
                    .entry-thumbnail.col-lg-4.col-md-5.col-sm-4.col-xs-3
                      a.hover-effect(href='#')
                        img(src='images/react-square.png', alt='')

                        span.overlay
                          i.fa.fa-plus

                    .col-lg-8.col-md-7.col-sm-8.col-xs-9
                      header.entry-header
                        h2.entry-title
                          a(href='#') React Native 跨平台 App 程式開發基礎
                        .entry-meta
                            By
                          a(href='#', target="_blank") 講師：創科資訊團隊

                      .entry-content
                        p React Native的設計理念： 既擁有Native的用戶體驗、又保留React的開發效率。這個理念似乎迎合了業界普片存在的痛點，這套教程就從基礎出發講述了react native的基礎概念。學些react native將會是未來的移動開發的主流。
                        a.more(href='mailto:kyle@trunk-studio.com')
                          span.btn.btn-default 接受預約
                        a.more(href='https://www.facebook.com/groups/1084440818288147/?fref=ts')
                          span.btn.btn-info FB社團
                        a.more(href='https://softnshare.wordpress.com/slack/reactnative/')
                          span.btn.btn-primary Slack 討論群組
            .row
              .col-md-6
                article.hentry.post
                  .row
                    .entry-thumbnail.col-lg-4.col-md-5.col-sm-4.col-xs-3
                      a.hover-effect(href='http://trunk-studio.kktix.cc/events/2016-summer')
                        img(src='images/2016hellojs.jpg', alt='')
                                        
                        span.overlay
                          i.fa.fa-plus
                                          
                    .col-lg-8.col-md-7.col-sm-8.col-xs-9
                      header.entry-header
                        h2.entry-title
                          a(href='http://trunk-studio.kktix.cc/events/2016-summer') Hello JS - JavaScript 全端開發即戰力班
                        .entry-meta
                            By
                          a(href='#', target="_blank") 講師：創科資訊團隊
                                        
                      .entry-content
                        p React 是當前矽谷最受歡迎的 Single Page App 開發技術，它一舉解決數十年來傳統 MVC 開發概念的迷思，不但能降低大型網頁程式的複雜度與大幅改善頁面運行速度，更能快速提升團隊開發效率，是公認最友善、易學又威力強大的開發工具。
                        p 本課程特別針對完全無 React 基礎的初學者所設計，以深入淺出的方式教授正確觀念與開發手法，讓初心者一次就學會並能立即用於實戰！
                        a.more(href='#')
                          span.btn.btn-default 結束報名

        section#testimonials.section.section-center.section-hilite.section-testimonial
          .container
            h2.section-title
              span 學員分享
            i.fa.fa-quote-left.fa-3x
            #carousel-example-generic.carousel.slide(data-ride='carousel')
              .carousel-inner
                .item.active
                  blockquote
                    p 覺得課程講解易懂且集中重點 good!
                    small 謝先生，持續整合與自動化測試課程
                .item
                  blockquote
                    p 瞭解與熟悉CI工具的功能與能力，加上如何整合與應用Docker容器，更進一步得到非常豐富的收穫
                    small 王先生，持續整合與自動化測試課程
                .item
                  blockquote
                    p 加深探討CI,CD,DevOps的了解，很有機會apply到實務
                    small 張先生，持續整合與自動化測試課程
                .item
                  blockquote
                    p 上課搭配實作的方式，有很大的幫助。
                    small 陳小姐，AgileWorks Jenkins Workshop
                .item
                  blockquote
                    p 講解非常詳細
                    small 劉先生，AgileWorks Jenkins Workshop

        section#clients.section.section-our-clients
          .container
            h2.section-title
              span 合作夥伴與客戶
            .row
              //- .col-md-2.col-xs-3
              //-   a(href="https://aws.amazon.com/tw/", target="_blank")
              //-     img(src='images/aws-consulting-partner-square.png', alt='')
              .col-md-2.col-xs-3
                a(href="http://agricloud.cc/", target="_blank")
                  img(src='images/partner/agricloud.png', alt='')
              .col-md-2.col-xs-3
                a(href="http://www.trade-van.com/", target="_blank")
                  img(src='images/partner/tradevan.png', alt='')
              //- .col-md-2.col-xs-3
              //-   a(href="http://www.tqcplus.org.tw/", target="_blank")
              //-     img(src='images/tqc-plus-logo.png', alt='')
              .col-md-2.col-xs-3
                a(href="http://www.hme.com/", target="_blank")
                  img(src='images/partner/hme.png', alt='')
              .col-md-2.col-xs-3
                a(href="http://www.ithome.com.tw/", target="_blank")
                  img(src='images/partner/ithome.png', alt='')
              .col-md-2.col-xs-3
                a(href="http://www.ironyun.com/", target="_blank")
                  img(src='images/partner/ironyun.png', alt='')
              .col-md-2.col-xs-3
                a(href="https://www.itri.org.tw/", target="_blank")
                  img(src='images/partner/itri.png', alt='')
              .col-md-2.col-xs-3
                a(href="https://www.taiwanmobile.com/", target="_blank")
                  img(src='images/partner/taiwanmobile.png', alt='')
              .col-md-2.col-xs-3
                a(href="http://www.chttl.com.tw/", target="_blank")
                  img(src='images/chtlab-logo.png', alt='')
              .col-md-2.col-xs-3
                a(href="http://crazyfungmemory.com.hk/", target="_blank")
                  img(src='images/partner/hkam.png', alt='')
              .col-md-2.col-xs-3
                a(href="http://www.pearnature.com/", target="_blank")
                  img(src='images/partner/pearnature.png', alt='')
              .col-md-2.col-xs-3
                a(href="http://www.creatop.com.tw/", target="_blank")
                  img(src='images/partner/creatop-logo.png', alt='創造力互動媒體')
              .col-md-2.col-xs-3
                a(href="https://www.strategicsale.com/", target="_blank")
                  img(src='images/partner/strategicsale-logo.png', alt='商積股份有限公司')
              .col-md-2.col-xs-3
                a(href="http://www.mic.com.tw/", target="_blank")
                  img(src='images/partner/mitac.jpeg', alt='神達電腦')
              .col-md-2.col-xs-3
                a(href="http://www.labfnp.com/", target="_blank")
                  img(src='images/partner/lfp.jpeg', alt='LFP')
              .col-md-2.col-xs-3
                a(href="http://www.tutorabc.com/OfficialSite/zh-TW", target="_blank")
                  img(src='images/partner/tutorabc.jpeg', alt='Tutorabc')
              
              
            h3.section-title
              span 技術社群
            .row
              .col-xs-2
                a(href="http://jsdc.tw/", target="_blank")
                  img(src='images/partner/jsdc-logo.png', alt='JavaScript 開發者社群年會')
              .col-xs-2
                a(href="http://jcconf.tw/", target="_blank")
                  img(src='images/partner/jcconf-logo.png', alt='Java 社群開發者年會')
              .col-xs-2
                a(href="http://event.tcf2e.tw/", target="_blank")
                  img(src='images/partner/ctjs-logo.png', alt='中台灣 JavaScript Conference')
              .col-xs-2
                a(href="http://modernweb.tw/", target="_blank")
                  img(src='images/partner/modern-web-2016.png', alt='Modern Web 2016')
            h3.section-title
              span 實習合作
            .row
              .col-md-2.col-xs-2
                .margin-around(style='margin: 10%')
                  a(href="http://www.csu.edu.tw/", target="_blank")
                    img(src='images/partner/csu.png', alt='CSU')
              .col-md-2.col-xs-2
                .margin-around(style='margin: 10%')
                  a(href="http://www.ltu.edu.tw/", target="_blank")
                    img(src='images/partner/ltu.png', alt='LTU')
              .col-md-2.col-xs-2
                .margin-around(style='margin: 10%')
                  a(href="http://www.nutc.edu.tw/", target="_blank")
                    img(src='images/partner/nutc.png', alt='NUTC')
              .col-md-2.col-xs-2
                .margin-around(style='margin: 10%')
                  a(href="https://www.yuntech.edu.tw/", target="_blank")
                    img(src='images/partner/nyust.png', alt='NYUST')
                      
        section#contact.section.section-hilite.section-center.section-contact
          .container
            h2.section-title
              span 與我們聯繫
          .container
            .row
              .col-sm-4
                h3 Welcome!
                p
                  img.img-rounded(src='images/photo-3.min.jpg', alt='')
                p.text-left 公司地址：台中市西區台灣大道二段2號16F-1
                p.text-left 營業時間：09:00 - 18:00
                p.text-left Tel: (04)2201-9020
                p.text-left E-mail: kyle@trunk-studio.com
              .col-sm-4
                h3 交通指南
                ul.text-left
                  li 靠近台灣大道與五權路口，一樓是彰化銀行。
                  li Google Map 請搜尋「台中創科資訊」。
                  li 從台中火車站或朝馬轉運站，轉乘台中市公車，建議搭乘300路（BRT藍線），請在「茄苳腳站」下車，步行約一分鐘即可抵達。
                  li 國道三請下台中交流道（原中港交流道）。
                  li 74快速道路請下「西屯二」交流道。
                  li 辦公大樓 B1 有收費停車場（每半小時 10 元），台灣大道靠近日興街路口附近有嘟嘟房收費停車場，後方博館二街設有機車停車格。
              .col-sm-4
                img(src='images/map-2.png', alt='')
            //- .main-action
              form(role='form' action='/contact' method='post')
                .row
                  .col-sm-6
                    .form-group
                      label.sr-only Subject

                      input.form-control(type='text', name='name', placeholder='姓名')

                    .form-group
                      label.sr-only Name

                      input.form-control(type='text', name='telphone', placeholder='手機號碼')

                    .form-group
                      label.sr-only Email

                      input.form-control(type='email', name='email', placeholder='E-Mail 信箱')

                  .col-sm-6
                    .form-group
                      label.sr-only Message

                      textarea.form-control(placeholder='留言訊息', name='message', style='height: 100px', rows='6')

                button.btn.btn-default(type='submit') 訂閱通知

        section.section
          .container
            h2.section-title
              span 台中技術社群分享工作坊
          .container
            .row
              .col-sm-3.text-left
                p 創科資訊一年舉辦超過 10 場社群技術分享工作坊，提供中台灣工程師交流分享的平台。歡迎各類與軟體開發相關的聚會活動在創科資訊舉辦，創科資訊位於台中的工作坊空間約可容納 30 人，我們的團隊亦可協助推廣與宣傳。
                p 活動情報請訂閱創科資訊粉絲專頁。
                a(href="https://www.facebook.com/trunk.studio.tw/") 創科資訊 Trunk Studio 粉絲專頁
              .col-sm-3.text-left
                p 現場設備：
                ul
                  li 80吋投影幕
                  li 55吋大尺寸電視
                  li 白板
                  li WiFi 無線網路
                  li 無線麥克風與音響
                  li 印表機
                  li 冷氣空調
                  li 電源
                  li 活動式課桌椅
                  li 冷飲
              .col-sm-3.col-xs-6
                img.img-thumbnail(src='images/meetup.jpg', alt='')
              .col-sm-3.col-xs-6
                img.img-thumbnail(src='images/meetup-2.jpg', alt='')

        section.section
          .container
            h2.section-title
              span 加入團隊
          .container
            .row
              .col-sm-4
                h3 最新職缺
                ul
                  li Front-End Engineer
                  li JavaScript 程式設計師
                  li 程式設計實習生<br/>
                    a(href='https://intern.trunk.studio/') 參考資料
              .col-sm-4
                h3 工作空間
                ul
                  li 非傳統辦公室的開放式工作空間
                  li 可樂冰箱充滿各式飲品，免費的飲料與餅乾點心
                  li 專業玩家級的全套手沖咖啡器具與精品咖啡豆
                  li 提供 3D 印表機與 PLA 耗材，讓你自己打印想要的玩具
                  li 每月從天瓏訂購新書，並購買線上課程，提供充足的學習資源
                  li 雙向 100M 寬頻無限制網路連線，全區覆蓋 802.11ac/5GHz WiFi 訊號
                  li 有一群志同道合、熱心的夥伴，可以切磋討論交流技術議題
              .col-sm-4
                h3 組織文化
                ul
                  li 無主管公司，頭銜只是掛給外人看，實際上只有資深和菜鳥的分別，人人都是均等的 Developer 並互相尊重及協助支援
                  li 實踐敏捷開發，倡導自動化測試與持續整合，並樂於將方法和經驗分享給更多開發團隊
                  li 重視效率，拒絕冗長無聊的會議，需要重複做 3 次以上的事情都應該用程式自動化
                  li 重視個人與組織的學習成長，不只鼓勵夥伴參與技術社群，也經常自己辦活動，並不定期舉辦對外開放的聚會

        //- section#contact.section.section-center
        //-   .container
        //-     .row
        //-       .col-sm-4
        //-         h3 Welcome!
        //-         p
        //-           img.img-rounded(src='images/photo-3.min.jpg', alt='')
        //-         p.text-left 公司地址：台中市西區台灣大道二段2號16F-1
        //-         p.text-left 營業時間：09:00 - 18:00
        //-         p.text-left 聯繫：林先生
        //-         p.text-left Email：kyle@trunk-studio.com
        //-       .col-sm-4
        //-         h3 交通指南
        //-         ul.text-left
        //-           li 靠近台灣大道與五權路口，一樓是彰化銀行。
        //-           li Google Map 請搜尋「台中創科資訊」。
        //-           li 從台中火車站或朝馬轉運站，轉乘台中市公車，建議搭乘300路（BRT藍線），請在「茄苳腳站」下車，步行約一分鐘即可抵達。
        //-           li 國道三請下台中交流道（原中港交流道）。
        //-           li 74快速道路請下「西屯二」交流道。
        //-           li 辦公大樓 B1 有收費停車場（每半小時 10 元），台灣大道靠近日興街路口附近有嘟嘟房收費停車場，後方博館二街設有機車停車格。
        //-       .col-sm-4
        //-         img(src='images/map-1.png', alt='')
      footer#footer.site-footer
        .container
          .row
            .col-sm-4
              ul
                li.small 地址
                li 台中市西區台灣大道二段2號16F-1
                li
                  a(href='https://goo.gl/maps/jaFCSKkyrsJ2') 
                    i.fa.fa-map-marker
                    span &nbsp; 看地圖
                li.small 電話
                li (04)2201-9020
                li.small 信箱
                li
                  a(href="mailto:kyle@trunk-studio.com") kyle@trunk-studio.com
                li.small 業務專線
                li 0937-397-377 林先生
            .col-sm-4
              ul
                li Copyright &copy; 2015 Trunk Studio. <br/> All Rights Reserved.
                li
                  網站圖文版權為創科資訊所有
            .col-sm-4
              ul
                a(href='http://trunk-studio.com/blog/')
                  span &nbsp;創科部落格
              ul
                a(href='https://www.facebook.com/trunk.studio.tw/')
                  span &nbsp;臉書專頁
              ul
                a(href='http://resource.trunk-studio.com/')
                  span &nbsp;設計資源筆記
              ul
                a(href='http://trunk-studio.kktix.cc/')
                  span &nbsp;社群活動
    .scroll-to-top(data-spy='affix', data-offset-top='200')
      a.smooth-scroll(href='#page')
        i.fa.fa-arrow-up
    script(type='text/javascript', src='https://code.jquery.com/jquery-1.10.2.min.js')
    script(type='text/javascript', src='assets/js/bootstrap-3.1.1.min.js')
    script(type='text/javascript', src='assets/js/jquery.isotope.min.js?v=1.5.26')
    script(type='text/javascript', src='assets/js/jquery.singlePageNav.min.js')
    script(type='text/javascript', src='assets/js/main.js')
