<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="EXMA">
    <!--網頁基本meta data-->
    <!-- for windows 8 -->
    <meta name="application-name" content="EXMA">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="url img">
    <meta name="msapplication-tooltip" content="EXMA">
    <meta name="msapplication-starturl" content="url">
    <meta name="msapplication-window" content="width=1024;height=768">
    <meta name="msapplication-navbutton-color" content="#005090">
    <meta name="msapplication-task" content="name=EXMA;action-uri=url;icon-uri=/images/exma.ico">
    <meta name="msapplication-task" content="name=exma;action-uri=fburl;icon-uri=/images/exma.ico">
    <meta name="msapplication-task" content="name=exma;action-uri=google+url;icon-uri=/images/exma.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="robots" content="noarchive">
    <meta http-equiv="refresh" content="600;URL=/">
    <meta http-equiv="Content-Language" content="zh-TW">
    <meta name="medium" content="種類">
    <meta property="og:locale" content="zh_TW">
    <meta name="contact" content="exma@exma.com">
    <link rel="shortcut icon" type="image/x-icon" href="/images/exma.ico">
    <link rel="icon" type="image/x-icon" href="/images/exma.ico">
    <link rel="apple-touch-icon" href="/images/exma.ico">
    <meta name="description" content="HTML、JavaScript、NodeJs，迅速網站開發、強大的前後端技術、專業的設計服務!!">
    <meta name="keywords" content="1, 2, 3">
    <!-- 以下為 facebook專用start-->
    <meta property="og:url" content="http://exma-square.co/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="EXMA">
    <meta property="og:description" content="HTML、JavaScript、NodeJs，迅速網站開發、強大的前後端技術、專業的設計服務!!">
    <meta property="og:image" content="http://exma-square.co/images/exma_logo.png" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <!-- facebook專用 end-->
    <title>EXMA</title>
    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/animate.css" rel="stylesheet" />
    <!-- Squad theme CSS -->
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="color/default.css" rel="stylesheet">
  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <!-- Preloader -->
    <div id="preloader">
      <div id="load"></div>
    </div>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="#">
            <h1 style="display:none">EXMA</h1>
            <img src="./images/exma_logo.png" style="width:40%">
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#intro">首頁</a></li>
            <li><a href="#about">關於我們</a></li>
            <li><a href="#service">服務項目</a></li>
            <li><a href="#contact">聯絡我們</a></li>
            <!--         <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Example menu</a></li>
                <li><a href="#">Example menu</a></li>
                <li><a href="#">Example menu</a></li>
              </ul>
            </li> -->
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
    <!-- Section: intro -->
    <section id="intro" class="intro">
      <div class="slogan">
        <h2>welcome to <span class="text_color">EXMA</span> </h2>
        <h4>我們是超強的貓頭鷹，不眠不休地為程式找出口</h4>
      </div>
      <div class="page-scroll">
        <a href="#service" class="btn btn-circle">
          <i class="fa fa-angle-double-down animated"></i>
        </a>
      </div>
      <!-- <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> -->
      <!-- Indicators -->
      <!-- <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol> -->
      <!-- Wrapper for slides -->
      <!-- <div class="carousel-inner">
        <div class="item active">
          <img src="http://placehold.it/1200x315" alt="...">
          <div class="carousel-caption">
            <h3>Caption Text</h3>
          </div>
        </div>
        <div class="item">
          <img src="http://placehold.it/1200x315" alt="...">
          <div class="carousel-caption">
            <h3>Caption Text</h3>
          </div>
        </div>
        <div class="item">
          <img src="http://placehold.it/1200x315" alt="...">
          <div class="carousel-caption">
            <h3>Caption Text</h3>
          </div>
        </div>
      </div> -->
      <!-- Controls -->
      <!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div> -->
    <!-- Carousel -->
  </section>
  <!-- /Section: intro -->
  <!-- Section: about -->
  <section id="about" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="wow bounceInDown" data-wow-delay="0.2s">
              <div class="section-heading">
                <h2>About our team</h2>
                <i class="fa fa-2x fa-angle-down"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>
      <div class="row member">
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="wow bounceInUp" data-wow-delay="0.3s">
            <div class="team boxed-grey">
              <div class="inner">
                <h5>Director</h5>
                <p class="subtitle">Caesar</p>
                <div class="avatar"><img src="images/team/Caesar.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="wow bounceInUp" data-wow-delay="0.4s">
            <div class="team boxed-grey">
              <div class="inner">
                <h5>Director</h5>
                <p class="subtitle">Ellis</p>
                <div class="avatar"><img src="images/team/df.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="wow bounceInUp" data-wow-delay="0.5s">
            <div class="team boxed-grey">
              <div class="inner">
                <h5>Marketing Manager</h5>
                <p class="subtitle">George</p>
                <div class="avatar"><img src="images/team/George.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="wow bounceInUp" data-wow-delay="0.6s">
            <div class="team boxed-grey">
              <div class="inner">
                <h5>Project Manager</h5>
                <p class="subtitle">Kevin</p>
                <div class="avatar"><img src="images/team/Kevin.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="wow bounceInUp" data-wow-delay="0.7s">
            <div class="team boxed-grey">
              <div class="inner">
                <h5>Full Stack Engineer</h5>
                <p class="subtitle">Webber</p>
                <div class="avatar"><img src="images/team/Webber.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="wow bounceInUp" data-wow-delay="0.8s">
            <div class="team boxed-grey">
              <div class="inner">
                <h5>Full Stack Engineer</h5>
                <p class="subtitle">Wayne</p>
                <div class="avatar"><img src="images/team/Wayne.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="wow bounceInUp" data-wow-delay="0.9s">
            <div class="team boxed-grey">
              <div class="inner">
                <h5>Assistant Engineer</h5>
                <p class="subtitle">Simon</p>
                <div class="avatar"><img src="images/team/Simon.jpg" alt="" class="img-responsive img-circle" /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Section: about -->
  <!-- Section: services -->
  <section id="service" class="home-section text-center bg-gray">
    <div class="heading-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="wow bounceInDown" data-wow-delay="0.4s">
              <div class="section-heading">
                <h2>Our Services<br>服務項目</h2>
                <i class="fa fa-2x fa-angle-down"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 col-md-3">
          <div class="wow fadeInLeft" data-wow-delay="0.2s">
            <div class="service-box">
              <div class="service-icon">
                <img src="images/icons/service-icon-1.png" alt="" />
              </div>
              <div class="service-desc">
                <h5>大型網站建置</h5>
                <p>使用業界領先技術架構，為您打造高品質、低維護成本的網站。我們堅持將優先考量使用者體驗，並採用RWD，讓您的網站無論在手機、平板、或是電腦上，都有一流的瀏覽品質。</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="service-box">
              <div class="service-icon">
                <img src="images/icons/service-icon-2.png" alt="" />
              </div>
              <div class="service-desc">
                <h5>諮詢顧問</h5>
                <p>提供網站建置技術、基礎架構及維運技術、社群網站API整合、搜尋引擎最佳化(SEO)等專業領域之諮詢顧問。</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="service-box">
              <div class="service-icon">
                <img src="images/icons/service-icon-3.png" alt="" />
              </div>
              <div class="service-desc">
                <h5>人才培訓與企業內訓</h5>
                <p>我們積極參與台灣的技術社群運作，定期舉辦活動提升技術能力，並建立人才庫。期望讓台灣軟體產業能躍升國際舞台，與Google、Facebook等領先者並駕齊驅。我們非常歡迎學校與企業與我們合作，打造適合初學者、進階者、架構師、設計師的專屬訓練課程。</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <div class="wow fadeInRight" data-wow-delay="0.2s">
            <div class="service-box">
              <div class="service-icon">
                <img src="images/icons/service-icon-4.png" alt="" />
              </div>
              <div class="service-desc">
                <h5>專業人才招募</h5>
                <p>賈伯斯一向只雇用最優秀的人才，他稱之為A級人才，他說： 「你一旦雇用了一個B級員工，他就會開始把其他B級和C級的人給帶進來。」 我們擁有一流的網站技術人才庫，無論是前端、後端工程師，或是資料庫架構師，只要您的公司有相關的人才需求，我們將提供您不同於傳統人力銀行的招募經驗，不再大海撈針，一舉聘得最適合的專業人選。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Section: services -->
  <!-- Section: contact -->
  <section id="contact" class="home-section text-center">
    <div class="heading-contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="wow bounceInDown" data-wow-delay="0.4s">
              <div class="section-heading">
                <h2>Get in touch</h2>
                <i class="fa fa-2x fa-angle-down"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="boxed-grey">
            <form id="contact-form" action="/contact" method="post">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="name">
                    姓名</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="請輸入您的大名" required="required" />
                  </div>
                  <div class="form-group">
                    <label for="email">
                    Email</label>
                    <div class="input-group">
                      <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                      </span>
                      <input type="email" class="form-control" id="email" name="email" placeholder="請輸入您的 email" required="required" /></div>
                    </div>
                    <div class="form-group">
                      <label for="subject">
                      服務項目</label>
                      <select id="subject" name="subject" class="form-control" required="required">
                        <option value="service">General Customer Service 顧客服務</option>
                        <option value="suggestions">Suggestions 建議</option>
                        <option value="product">Product Support 產品服務</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="name">
                      留言給我們</label>
                      <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                      placeholder="請您留下給我們的訊息"></textarea>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-skin pull-right" id="btnContactUs">
                    送出</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
<!--           <div class="col-lg-4">
            <div class="widget-contact">
              <h5>Main Office</h5>
              <address>
                <strong>EXMA, Inc.</strong><br>
                Tower 795 Folsom Ave, Beautiful Suite 600<br>
                San Francisco, CA 94107<br>
              <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
            <address>
              <strong>Email</strong><br>
              <a href="mailto:#">email.name@exma.com</a>
            </address>
            <address>
              <strong>We're on social networks</strong><br>
              <ul class="company-social">
                <li class="social-facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li class="social-dribble"><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                <li class="social-google"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </address>
          </div> -->
        </div>
      </div>
    </div>
  </section>
  <!-- /Section: contact -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="wow shake" data-wow-delay="0.4s">
            <div class="page-scroll marginbot-30">
              <a href="#intro" id="totop" class="btn btn-circle">
                <i class="fa fa-angle-double-up animated"></i>
              </a>
            </div>
          </div>
          <p>&copy;EXMA Copyright 2014 . All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Core JavaScript Files -->
  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script src="javascripts/jquery.easing.min.js"></script>
  <script src="javascripts/jquery.scrollTo.js"></script>
  <script src="javascripts/wow.min.js"></script>
  <!-- Custom Theme JavaScript -->
  <script src="javascripts/custom.js"></script>
</body>
</html>